/* ::::: http://simg.sinajs.cn/blog7style/css/conf/blog/personal.css ::::: */

/* ::::: http://simg.sinajs.cn/blog7style/css/module/common/topbar.css ::::: */

.nsinatopbar { min-width: 950px; height: 30px; overflow: hidden; font-size: 12px; font-family: "宋体"; background: url('topbar.png') repeat-x scroll 0px 0px transparent; }
.nsinatopbar a, .nsinatopbar a:link, .nsinatopbar a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.nsinatopbar a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.ntopbar_main { width: 950px; height: 30px; margin: 0px auto; }
.ntopbar_logo { float: left; }
.ntopbar_ad { float: left; padding-top: 9px; margin-left: 20px; }
.ntopbar_login { float: right; margin-left: 10px; }
.ntopbar_login a.login { height: 30px; line-height: 30px; display: block; float: left; overflow: hidden; text-align: center; padding-left: 11px; color: rgb(255, 255, 255); }
.ntopbar_login a.login span { height: 30px; line-height: 30px; padding-right: 11px; display: inline-block; color: rgb(255, 255, 255); }
.ntopbar_login a.login:link, .ntopbar_login a.login:visited, .ntopbar_login a.login:hover { background: url('ntopbar.png') no-repeat scroll 0px -42px transparent; }
.ntopbar_login a.login:link span, .ntopbar_login a.login:visited span, .ntopbar_login a.login:hover span { background: url('ntopbar.png') no-repeat scroll right -82px transparent; text-decoration: none; cursor: pointer; }
.ntopbar_login a.register { height: 30px; line-height: 30px; display: block; float: left; padding: 0px 11px; margin-left: 2px; color: rgb(46, 48, 146); }
.ntopbar_login a.register:hover { background: url('ntopbar.png') repeat-x scroll 0px -123px transparent; text-decoration: none; }
.ntopbar_loading { float: right; padding-top: 7px; margin-right: 150px; color: rgb(102, 102, 102); }
.ntopbar_loading img { vertical-align: -3px; margin-right: 5px; }
.ntopbar_floatL { float: left; position: relative; }
.ntopbar_search { padding-top: 5px; float: left; margin-left: 13px; }
.ntopbar_searchBtn { width: 12px; height: 12px; position: absolute; right: 5px; top: 3px; overflow: hidden; text-align: center; background: url('ntopbar.png') no-repeat scroll 0px 0px transparent; border: medium none; cursor: pointer; }
.ntopbar_input { position: relative; width: 128px; height: 18px; float: left; border: 1px solid rgb(195, 195, 195); overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.ntopbar_input .ntopbar_txt { padding: 0px 3px; border-width: 0px; height: 16px; line-height: 16px; width: 100px; background: none repeat scroll 0% 0% transparent; }
.mCatSearch { position: absolute; width: 128px; border-right: 1px solid rgb(195, 195, 195); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(195, 195, 195) rgb(195, 195, 195); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.mCatSearch ul {  }
.mCatSearch li { padding: 0px 10px; height: 21px; line-height: 21px; border-top: 1px solid rgb(227, 227, 227); background: none repeat scroll 0% 0% rgb(249, 249, 249); color: rgb(153, 153, 153); cursor: pointer; }
.mCatSearch li.current { background: none repeat scroll 0% 0% rgb(234, 234, 234); }
.mCatSearch li span { color: rgb(147, 164, 197); }
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img { margin: 0px; padding: 0px; border: 0px none; list-style: none outside none; }
table, th, td { margin: 0px; padding: 0px; }
body, fieldset, th, td, select, input, textarea { font-size: 12px; font-family: Verdana,"宋体",sans-serif; }
select, input { vertical-align: middle; }
cite, em { font-style: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
label { cursor: pointer; }
.clearit { clear: both; height: 0px; overflow: hidden; }
a.CP_a_fuc { margin: 0px 0px 0px 3px; font-family: "宋体"; font-size: 12px; font-weight: normal; white-space: nowrap; }
a.CP_a_fuc cite { cursor: pointer ! important; font-family: Verdana; }
a.CP_a_fuc:link, a.CP_a_fuc:visited, a.CP_a_fuc:hover, a.CP_a_fuc:active { text-decoration: none; }
a.CP_a_fuc:link cite, a.CP_a_fuc:visited cite { text-decoration: none; }
a.CP_a_fuc:hover cite, a.CP_a_fuc:active cite { text-decoration: underline; }
.SG_colW21 { width: 210px; }
.SG_colW73 { width: 730px; }
.SG_colW1, .SG_colW21, .SG_colW51, .SG_colW73, .SG_colW95 { margin-left: 10px; display: inline; float: left; overflow: hidden; }
.SG_colW21 {  }
.SG_colFirst { margin-left: 0px; }
.SG_conn { clear: both; margin: 0px 0px 10px; text-align: left; overflow: hidden; width: auto; height: 100%; }
.SG_floatL { float: left; display: inline; }
.SG_floatR { float: right; display: inline; }
body { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
textarea, input, option { color: rgb(102, 102, 102); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(109, 88, 135); }
.SG_txtb { color: rgb(144, 144, 144); }
.SG_txtc { color: rgb(144, 144, 144); }
.SG_clewtxta { color: rgb(255, 0, 0); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(85, 85, 85); }
.sinabloga { background-image: none; background-repeat: no-repeat; background-position: center bottom; width: 100%; clear: both; }
.sinablogb { background-image: none; background-repeat: no-repeat; background-position: center top; width: 100%; clear: both; }
.sinabloghead { width: 950px; height: 265px; clear: both; margin: 0px auto; position: relative; z-index: 100; }
.sinabloghead .headflash { width: 950px; height: 265px; overflow: hidden; position: absolute; left: 0px; top: 0px; }
.sinabloghead .headarea { position: relative; width: 100%; height: 100%; }
.sinabloghead .blogtoparea { position: absolute; top: 35%; left: 115px; }
.sinabloghead .blogtitle { font-family: "微软雅黑","黑体"; font-size: 24px; color: rgb(0, 0, 0); font-weight: 300; }
.sinabloghead .bloglink { color: rgb(51, 51, 51); padding-top: 5px; }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(0, 0, 0); margin-left: 5px; }
.sinabloghead .blognav { position: absolute; top: 80%; left: 20px; width: 250px; height: 38px; }
.sinabloghead .blognav .blognavInfo { position: absolute; top: 11px; left: 0px; height: 16px; }
.sinabloghead .blognav .blognavBg { width: 100%; height: 100%; background-image: none; background-repeat: no-repeat; background-position: left top; }
.sinabloghead .blognav span { float: left; font-size: 14px; overflow: hidden; padding: 0px 9px; background-image: url('sg_newsp.png'); background-repeat: no-repeat; background-position: right -240px; }
.sinabloghead .blognav .last { background-image: none; padding-right: 0px; }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(110, 99, 91); }
.sinabloghead .blognav a.on { font-weight: 700; }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(59, 59, 59); }
.sinabloghead .adsarea { position: absolute; right: 0px; bottom: 50px; display: none; }
.sinabloghead .adsarea .pic {  }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); font-size: 12px; padding-top: 5px; }
.sinablogbody { width: 950px; clear: both; margin: 0px auto; z-index: 10; }
.sinablogfooter { width: 950px; height: 100px; clear: both; margin: 0px auto; text-align: center; padding-top: 65px; background-position: center bottom; }
.sinablogfooter p { line-height: 22px; }
.sinablogfooter .copyright { padding-top: 10px; }
.SG_colWnone { width: 0px; overflow: hidden; }
.SG_colW73 .SG_connHead { background-image: url('modelhead.png'); background-position: 1450px 0px; height: 26px; overflow: hidden; }
.SG_colW73 .SG_connBody { background-image: url('modelbody.png'); background-position: 1450px 0px; }
.SG_colW73 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 1450px 0px; height: 1px; overflow: hidden; }
.SG_colW21 .SG_connHead { background-image: url('modelhead.png'); background-position: 210px 0px; height: 26px; overflow: hidden; }
.SG_colW21 .SG_connBody { background-image: url('modelbody.png'); background-position: 210px 0px; }
.SG_colW21 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 210px 0px; height: 1px; overflow: hidden; }
.SG_j_linedot { height: 1px; overflow: hidden; background: url('sg_linedot.gif') repeat-x scroll 0% 0% transparent; clear: both; }
.SG_j_linedot1 { background-image: url('sg_linedot.gif'); background-repeat: repeat-x; }
.SG_connHead { font-family: "宋体",sans-serif; }
.SG_connHead .title { float: left; padding-left: 10px; padding-top: 8px; font-weight: 700; color: rgb(51, 51, 51); }
.SG_connHead .edit { float: right; padding-right: 10px; padding-top: 8px; }
.SG_icon { background-image: url('sg_icon.png'); }
.SG_icon1 { background-position: 765px top; }
.SG_icon51 { background-position: 75px -30px; }
.SG_icon146 { background-position: 223px -90px; }
.SG_icon205 { background-position: 436px -90px; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(51, 51, 51); cursor: pointer; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { text-decoration: none; font-size: 12px ! important; padding: 0px 0px 0px 3px; display: inline-block; overflow: hidden; white-space: nowrap; background-repeat: no-repeat; background-position: 0px 0px; margin-right: 6px; }
a.SG_aBtn cite { font-size: 12px ! important; line-height: 23px; padding: 0px 10px 0px 8px; display: inline-block; height: 23px; background-repeat: no-repeat; background-position: right -28px; min-width: 48px; overflow-x: visible; white-space: nowrap; text-align: center; }
a.SG_aBtn, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn:link, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn:visited, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn cite, x:-moz-any-link, x:default { display: inline-block; padding: 0px 10px 0px 8px; }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp.png'); }
a.SG_aBtnB, a.SG_aBtnB cite { color: rgb(51, 51, 153); background-image: url('sg_btnb.png'); }
a.SG_aBtn_ico { position: relative; }
a.SG_aBtn_ico cite { padding-left: 26px; padding-right: 12px; text-align: left; min-width: 1px; }
a.SG_aBtn img { position: absolute; left: 9px; top: 4px; }
.SG_more { font-family: "宋体"; color: rgb(51, 102, 153); }
.SG_page { width: 100%; height: 21px; line-height: 21px; clear: both; overflow: hidden; }
.SG_pages { float: right; height: 100%; }
.SG_input { height: 15px; padding-top: 3px; padding-left: 3px; font-family: "宋体"; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { width: 100%; overflow: hidden; background-position: center top; padding: 20px 0px; }
.SG_cmp_revert li .SG_revert_Left { float: left; }
.SG_cmp_revert li .SG_revert_Left img { height: 50px; width: 50px; border: 1px solid rgb(220, 220, 220); }
.SG_cmp_revert li .SG_revert_Cont { float: left; margin-left: 10px; width: 620px; font-family: "宋体"; padding-top: 2px; }
.SG_cmp_revert li .SG_revert_Cont p { width: 100%; clear: both; overflow: hidden; font-size: 12px; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Tit { float: left; font-weight: bold; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Tit a { vertical-align: middle; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Time { float: right; }
.SG_cmp_revert li .SG_revert_Inner { line-height: 22px; clear: both; width: 100%; font-size: 14px; margin-top: 9px; }
.SG_revert_Time em { padding-right: 5px; }
.SG_revert_Answer { margin-top: 11px; overflow: hidden; width: 530px; clear: both; }
.writeComm { padding: 15px 0px; width: 684px; margin: 0px auto; }
.writeComm .wrCommTit { clear: both; width: 684px; overflow: hidden; margin-top: 18px; }
.writeComm .wrCommTit .SG_floatL { line-height: 28px; overflow: hidden; }
.writeComm .formTextarea { padding-bottom: 10px; }
.writeComm .formTextarea textarea { width: 447px; height: 156px; float: left; font-size: 14px; line-height: 22px; }
.writeComm .formTextarea .faceblk { width: 230px; height: 158px; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(199, 199, 199) rgb(199, 199, 199) rgb(199, 199, 199) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(245, 245, 245); margin-top: 0px; float: left; }
.writeComm .formTextarea .faceline1 { clear: both; padding: 8px 0px 6px 7px; height: 27px; overflow: hidden; }
.writeComm .formTextarea .faceline1 .facestyle { float: left; }
.writeComm .formTextarea .faceline1 .facestyle a { width: 27px; height: 27px; float: left; margin-right: 3px; outline: medium none; }
.writeComm .formTextarea .faceline1 .facestyle img { width: 25px; height: 25px; border: 1px solid rgb(182, 182, 182); }
.writeComm .formTextarea .faceline1 .facestyle a:hover img { border: 1px solid rgb(81, 189, 47); }
.writeComm .formTextarea .faceline1 span { line-height: 27px; float: left; }
.writeComm .formLogin { width: 100%; clear: both; }
.writeComm .formLogin .SG_floatL p { margin-bottom: 8px; }
.writeComm .formBtn { text-align: center; padding: 25px 0px 0px; width: 100%; clear: both; }
.writeComm .formBtn p { padding: 15px 0px 25px; }
.SG_nodata { font-size: 14px; clear: both; padding-top: 65px; padding-bottom: 130px; text-align: center; }
.SG_colW21 .SG_nodata { font-size: 12px; clear: both; padding-top: 30px; padding-bottom: 30px; text-align: center; }
.CP_w { color: rgb(51, 51, 51); }
.CP_w textarea, .CP_w input, .CP_w option { color: rgb(102, 102, 102); }
.CP_w a, .CP_w a:link, .CP_w a:visited, .CP_w a:hover { color: rgb(51, 102, 153); }
.CP_w { border: 0px none; border-collapse: collapse; border-spacing: 0px; width: 150px; color: rgb(51, 51, 51); }
.CP_w a:link, .CP_w a:visited { color: rgb(46, 48, 146); }
.CP_w a:hover { color: rgb(204, 0, 0); }
.CP_w thead .tLeft, .CP_w thead .tMid, .CP_w thead .tRight, .CP_w tfoot .tLeft, .CP_w tfoot .tMid, .CP_w tfoot .tRight, .CP_w_shut { background-image: url('layerbg1.png'); }
.CP_w tbody .tLeft, .CP_w tbody .tRight { background-image: url('layerbg2.png'); }
.CP_w thead .tLeft { background-position: 0px 0px; background-repeat: no-repeat; width: 4px; height: 26px; }
.CP_w thead .tMid { background-position: 0px -45px; background-repeat: repeat-x; }
.CP_w thead .tRight { background-position: -15px 0px; background-repeat: no-repeat; width: 7px; height: 26px; }
.CP_w tfoot .tLeft { background-position: 0px -30px; background-repeat: no-repeat; width: 4px; height: 4px; }
.CP_w tfoot .tMid { background-position: 0px -75px; background-repeat: repeat-x; height: 4px; }
.CP_w tfoot .tRight { background-position: -15px -30px; background-repeat: no-repeat; width: 7px; height: 4px; }
.CP_w tbody .tLeft { background-position: 0px 0px; background-repeat: repeat-y; width: 4px; }
.CP_w tbody .tMid { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.CP_w tbody .tRight { background-position: right 0px; background-repeat: repeat-y; }
.CP_w thead .tLeft span, .CP_w thead .tRight span, .CP_w tfoot .tLeft span, .CP_w tfoot .tMid span, .CP_w tfoot .tRight span, .CP_w tbody .tLeft span, .CP_w tbody .tRight span { display: block; overflow: hidden; }
.CP_w thead .tLeft span { width: 4px; height: 26px; }
.CP_w thead .tRight span { width: 7px; height: 26px; }
.CP_w tfoot .tLeft span { width: 4px; height: 4px; }
.CP_w tfoot .tMid span { height: 4px; }
.CP_w tfoot .tRight span { width: 7px; height: 4px; }
.CP_w tbody .tLeft span { width: 4px; }
.CP_w tbody .tRight span { width: 7px; }
.CP_w thead th { text-align: left; }
.CP_w thead .bLyTop { font-family: "宋体"; }
.CP_w thead .tMid { padding: 0px 5px 0px 8px; }
.CP_w thead .tMid strong { float: left; color: rgb(102, 102, 102); }
.CP_w thead .tMid cite { float: right; font-weight: 400; }
.CP_w thead .tMid cite a { float: left; margin-left: 8px; color: rgb(68, 68, 153); }
.CP_w thead .tMid cite a:hover { color: rgb(204, 0, 0); }
.CP_w_shut:link, .CP_w_shut:visited { background-position: 0px -90px; background-repeat: no-repeat; float: right; display: block; width: 15px; height: 15px; text-indent: -1000em; overflow: hidden; }
.CP_w_shut:hover { background-position: 0px -105px; }
.CP_layercon2 { width: 358px; padding: 20px 17px 35px; min-height: 50px; }
.rssLayer { width: 370px; min-height: 100px; }
.rssLayer th { font-weight: normal; width: 80px; font-size: 14px; padding-bottom: 10px; }
.rssLayer td { line-height: 18px; padding-bottom: 10px; width: 300px; }
.rssLayer td .SG_input { width: 190px; border: 1px solid rgb(193, 193, 187); font-family: verdana; height: 16px; line-height: 16px; padding: 2px; margin-right: 5px; }
.rssLayer td .SG_aBtn { vertical-align: middle; }
.rssLayer table { clear: both; }
.CP_w a.SG_aBtn, .CP_w a.SG_aBtn:link, .CP_w a.SG_aBtn:visited, .CP_w a.SG_aBtn:hover { text-decoration: none; }
a.CP_a_fuc { margin: 0px; }
.info { padding: 20px 0px 20px 21px; }
.info .info_img { float: left; margin-right: 10px; width: 182px; height: 182px; overflow: visible; position: relative; }
.info .info_img img { border: 1px solid rgb(204, 204, 204); }
.info .info_txt { float: left; }
.info_nm { font-size: 14px; font-family: "宋体"; white-space: nowrap; }
.info_nm .SG_icon { margin-right: 3px; margin-left: -3px; }
.info_btn1 { clear: both; margin-top: 8px; height: 23px; }
.info_btn1 a.SG_aBtn_ico cite { padding-right: 16px; }
.info_btn2 { width: 190px; clear: both; }
.info_btn2 p { clear: both; padding-top: 8px; }
.info_btn2 a.SG_aBtn, .info_btn2 a.SG_aBtn:link, .info_btn2 a.SG_aBtn:visited { padding-bottom: 0px; padding-top: 0px; float: left; margin-right: 5px; line-height: 23px; height: 23px; }
.info_btn2 a.SG_aBtn cite { padding-top: 0px; float: left; width: 66px; margin-right: 4px; padding-left: 0px; padding-right: 0px; }
.info_list { clear: both; margin-left: -16px; float: left; margin-top: 12px; overflow: hidden; }
.info_list ul { overflow: hidden; }
.info_list li { float: left; margin-left: 16px; display: inline; font-family: Verdana; white-space: nowrap; line-height: 20px; height: 20px; }
.info_list li span { white-space: nowrap; }
.SG_colW21 .info { padding: 10px 14px 15px; width: 180px; overflow: hidden; }
.SG_colW21 .info_img { float: none; margin-right: 0px; margin-bottom: 10px; }
.SG_colW21 .info_txt { width: 182px; float: none; }
.SG_colW21 .info_nm { text-align: center; }
.SG_colW21 .info_btn1 { margin-top: 12px; text-align: center; margin-bottom: 15px; height: 23px; }
.SG_colW21 .info_btn1 a { float: none; margin: 0px 5px 0px 4px; }
.SG_colW21 .info_txt { position: relative; }
.SG_colW21 .info_btn2 { padding-left: 17px; margin-top: 7px; margin-bottom: 15px; width: 170px; }
.SG_colW21 .info_list { float: none; margin: 0px; padding-top: 15px; clear: both; }
.SG_colW21 .info_list li { float: none; margin: 0px; clear: both; display: block; }
.autoskin { display: none; }
.sinabloghead .adsarea .wdc_HInf { display: none; }
.writeComm .formTextarea .faceline01 { clear: both; padding: 0px 0px 0px 7px; }
.writeComm .formTextarea .faceline01 a { width: 52px; height: 52px; outline: medium none; }
.writeComm .formTextarea .faceline01 img { border: 1px solid rgb(182, 182, 182); }
.writeComm .formTextarea .faceline01 a:hover img { border: 1px solid rgb(81, 189, 47); }
.writeComm .formTextarea .faceline01 li { position: relative; float: left; margin-right: 3px; margin-bottom: 3px; }
.writeComm .formTextarea .faceline01 li .arr { position: absolute; left: 36px; top: 37px; }
.writeComm .formTextarea .faceline01 li .arr a { border: medium none; width: auto; height: auto; }
.writeComm .formTextarea .faceline01 li .arr a img, .writeComm .formTextarea .faceline01 li .arr a img:hover { border: medium none; }
.info .info_img { overflow: visible; }
.info .info_img img.sevenyearsIcon { width: 56px; height: 69px; position: absolute; right: -14px; bottom: -28px; border: medium none; background-repeat: no-repeat; }
.aBmore { padding: 20px 0px 0px; margin: 0px 20px; }
.aBfocuse .aBmore { margin-left: 0px; margin-right: 0px; }
.aBfocuse { margin: 0px 20px; padding-bottom: 40px; width: 690px; padding-top: 2px; clear: both; }
.aBfocuse .aBfTop { clear: both; display: block; overflow: hidden; padding-top: 10px; }
.aBfocuse .aBfTop .aB_err { clear: both; padding: 10px 0px; line-height: 18px; }
.aBfocuse .aBfTop .aB_err a, .aBfocuse .aBfTop .aB_err a:link, .aBfocuse .aBfTop .aB_err a:visited, .aBfocuse .aBfTop .aB_err a:hover { text-decoration: underline; }
.aBfocuse .aBfTop .aBAdd { height: 20px; line-height: 20px; padding: 6px 0px 15px; }
.aBfocuse .aBfTop .TopLeft { float: left; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { width: 100%; overflow: hidden; background-position: center top; padding: 20px 0px; }
.SG_cmp_revert li .SG_revert_Left { float: left; }
.SG_cmp_revert li .SG_revert_Left img { height: 50px; width: 50px; border: 1px solid rgb(220, 220, 220); }
.SG_cmp_revert li .SG_revert_Cont { float: left; margin-left: 10px; width: 620px; font-family: "宋体"; }
.SG_cmp_revert li .SG_revert_Cont p { width: 100%; clear: both; overflow: hidden; font-size: 12px; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Tit { float: left; font-weight: bold; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Time { float: right; }
.SG_cmp_revert li .SG_revert_Inner { line-height: 22px; clear: both; width: 100%; font-size: 14px; margin-top: 9px; }
.SG_revert_Time em { padding-right: 5px; }
.SG_revert_Answer { margin-top: 11px; overflow: hidden; width: 530px; clear: both; }
.basicInfo { padding: 15px 0px 14px; background-position: center bottom; }
.personTable td, .personTable th { font-size: 14px; height: 22px; vertical-align: top; line-height: 23px; }
.personTable th { padding-bottom: 5px; }
.personTable .rolTd1 { width: 57px; height: 22px; vertical-align: top; line-height: 22px; }
.personTable .rolTd2 { margin: 4px 0px; }
.basicInfo .personTable .tdP20 { padding-right: 9px; font-family: "宋体"; }
.personTable .personIntro { line-height: 22px; font-family: "宋体"; overflow: hidden; word-wrap: break-word; word-break: break-all; width: 688px; }
.personTable .personAction { width: 658px; border: 1px solid rgb(197, 178, 112); background-color: rgb(255, 251, 214); text-align: left; font-size: 12px; font-weight: normal; color: rgb(204, 0, 0); line-height: 20px; padding: 7px 16px 7px 10px; }
/* ::::: http://simg.sinajs.cn/blog7newtpl/css/8/8_4/t.css ::::: */

body { color: rgb(50, 62, 50); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(6, 139, 164); }
.SG_txtb { color: rgb(99, 113, 96); }
.SG_txtc { color: rgb(99, 113, 96); }
.SG_clewtxta { color: rgb(255, 0, 0); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(50, 62, 50); }
.sinabloghead .blogtitle, .sinabloghead .blogtitle a, .sinabloghead .blogtitle a:link, .sinabloghead .blogtitle a:visited, .sinabloghead .blogtitle a:hover, .sinabloghead .blogtitle .CP_a_fuc { color: rgb(0, 0, 0); }
.sinabloghead .bloglink, .sinabloghead .bloglink a, .sinabloghead .bloglink a:link, .sinabloghead .bloglink a:visited, .sinabloghead .bloglink a:hover { color: rgb(12, 12, 12); }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(23, 23, 24); }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(96, 96, 98); }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(0, 0, 0); }
.SG_connHead .title, .SG_connHead .title a, .SG_connHead .title a:link, .SG_connHead .title a:visited, .SG_connHead .title a:hover, .SG_connHead .tip, .SG_connHead .tip a, .SG_connHead .tip a:link, .SG_connHead .tip a:visited, .SG_connHead .tip a:hover, .SG_connHead .edit, .SG_connHead .edit a, .SG_connHead .edit a:link, .SG_connHead .edit a:visited, .SG_connHead .edit a:hover, .SG_connHead .tip_r, .SG_connHead .tip_r a, .SG_connHead .tip_r a:link, .SG_connHead .tip_r a:visited, .SG_connHead .tip_r a:hover, .SG_connHead .fontSize, .SG_connHead .fontSize a, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited, .SG_connHead .fontSize a:hover, .menuList ul li.current, .menuList ul li.current a, .menuList ul li.current a:link, .menuList ul li.current a:visited, .menuList ul li.current a:hover, .menuList ul li.current em.SG_txtc { color: rgb(70, 68, 69); }
.sinablogfooter, .sinablogfooter a:link, .sinablogfooter a:visited, .sinablogfooter a:hover { color: rgb(65, 71, 75); }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(50, 62, 50); }
body { background-color: rgb(201, 220, 232); }
.sinablogb { background-image: url('sinablogb.jpg'); }
.sinabloghead {  }
.sinabloga { background-image: url('sinabloga.jpg'); }
.sinablogfooter { height: 190px; }
.sinabloghead .blogtoparea { top: 33%; left: 100px; }
.sinabloghead .blognav { top: 65%; left: 86px; }
.sinabloghead .blognav .blognavInfo { top: 0px; left: 3px; }
.sinabloghead .blognav .blognavBg { background-image: none; }
.sinabloghead .blognav span { padding: 0px 9px; background-image: url('sg_newsp_001.png'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead, .blogads .ad_head { background-image: url('modelhead_001.png'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead { height: 26px; }
.SG_colW95 .SG_connBody, .SG_colW73 .SG_connBody, .SG_colW51 .SG_connBody, .SG_colW21 .SG_connBody, .blogads .ad_body { background-image: url('modelbody_001.png'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot, .blogads .ad_foot { background-image: url('modelfoot_001.png'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot { height: 1px; }
.SG_j_linedot, .SG_j_linedot1 { background-image: url('sg_linedot_001.gif'); }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp_001.png'); }
a.SG_aBtnB, a.SG_aBtnB cite { color: rgb(51, 51, 153); background-image: url('sg_btnb.png'); }
.sinabloghead .adsarea { display: none; right: 0px; bottom: 50px; }
.sinabloghead .adsarea .pic { display: none; }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); }
.sinabloghead .adsarea .other { display: none; }
.sinabloghead .headflash { width: 950px; height: 265px; }
.sinabloghead .blogtoparea { left: 100px; top: 33%; }
.sinabloghead .blognav { left: 86px; top: 65%; }
/* ::::: http://simg.sinajs.cn/blog7style/css/module/layer/layer20.css ::::: */

